<div class="filters-container">

    <div class="form-container">

        <form 
            class="form" 
            [formGroup]="search" 
            #formDirective="ngForm" 
            (submit)="searchSubmit(formDirective)" 
        >

            <div class="inputs">
                <!-- Rover -->
                <mat-form-field class="form-element-container">
                    <mat-label>Rover</mat-label>
                    <mat-select 
                        formControlName="rover"
                        placeholder="Select Rover"
                        (selectionChange)="roverSelected($event.value)"
                    >
                    <div></div>
                        <mat-option *ngFor="let rover of rovers" [value]="rover"> 
                            {{ rover }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                 <!-- Camera -->                 
                <mat-form-field class="form-element-container">
                    <mat-label>Camera</mat-label>
                    <mat-select 
                        formControlName="camera"
                        placeholder="Select Camera"                        
                    >
                        <div *ngIf="roverOption === 'curiosity'">
                            <mat-option *ngFor="let camera of cameras.curiosity" [value]="camera"> 
                                {{ camera }}
                            </mat-option>
                        </div>
                        <div *ngIf="roverOption === 'opportunity'">
                            <mat-option *ngFor="let camera of cameras.opportunity" [value]="camera"> 
                                {{ camera }}
                            </mat-option>
                        </div>
                        <div *ngIf="roverOption === 'spirit'">
                            <mat-option *ngFor="let camera of cameras.spirit" [value]="camera"> 
                                {{ camera }}
                            </mat-option>
                        </div>
                        
                    </mat-select>
                </mat-form-field>

                <!-- Date Type -->
                <mat-form-field class="form-element-container">
                    <mat-label>Date Type</mat-label>
                    <mat-select 
                        formControlName="dateType"
                        placeholder="Select date type"
                        (selectionChange)="calendarSelected($event.value)"
                    >
                        <mat-option *ngFor="let dateType of dateTypes" [value]="dateType"> 
                            {{ dateType }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Sol Date -->
                <mat-form-field 
                    *ngIf="calendarType === 'sol'" 
                    class="form-element-container"
                > 
                    <mat-label>Sol Date</mat-label>
                    <input 
                        type="number" 
                        matInput 
                        formControlName="solDate"
                        placeholder="Select sol date"
                    >                
                </mat-form-field>
                <!-- Earth Date -->
                <mat-form-field 
                    *ngIf="calendarType === 'earth'" 
                    appearance="fill" 
                    class="form-element-container"
                >
                    <mat-label>Earth Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="earth_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>     
            </div>   
            
            <div class="buttons">
                <button type="submit" mat-stroked-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="search icon" class="material-icons color_white">search</mat-icon>
                </button>
                <button type="button" mat-stroked-button color="primary">
                    <mat-icon aria-hidden="false" aria-label="search icon" class="material-icons color_white"> favorite</mat-icon>
                </button>
            </div>
            

        </form>
        
    </div>
</div>
