.filters-container {
    padding: 5px;
    background-color: #9C27B0;
}

.form-element-container {
    margin-right: 15px;
}

.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputs {
    margin-left: 15px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 15px;

}

.material-icons.color_white { color: white; }

.form-error {
    width: 100%;
    height: 100%;
    color: red;
}